<h1><%=title%></h1>
<form name="create_account_form" method="POST" action="/create_account">
    <label for="username">username</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">password</label><br>
    <input type="text" id="password" name="password">
    <input type="submit" value="Submit">
</form>